--- 
layout: base.njk 
permalink: /writing/ 
---

<h1>Writing</h1>

<h2><i>On Data and Analytics</i></h2>

Check out my data articles, interviews, and courses at <a href="https://analystsassemble.com">Analysts Assemble</a>

<h2>Some selected personal essays</h2>

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}