--- 
layout: base.njk 
permalink: /writing/ 
---

<h1>Writing</h1>

<h2><i>On Football</i></h2>

Articles about football history, heritage, nostalgia, and culture at <a href="https://ontheterraces.co.uk">On The Terraces</a>


<h2>Essays and Articles</h2>

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}