--- 
layout: base.njk 
permalink: /writing/ 
---

<h1>Writing</h1>

<h2><i>On Data and Analytics</i></h2>

Articles, interviews, and courses at <a href="https://analystsassemble.com">Analysts Assemble</a>

<h2><i>On Football</i></h2>

Articles about football history, heritage, nostalgia, and culture at <a href="https://ontheterraces.co.uk">On The Terraces</a>


<h2>Some selected personal essays</h2>

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set postslist = collections.posts %}
{% include "posts-list.njk" %}